<div class="card">
    <div class="card-header">
        <h3 class="card-title">Medecins</h3>
    </div>
    <!-- /.card-header -->
    <div class="table">
        <div id="jsGrid1" class="jsgrid" style="position: center; height: 100%; width: 100%;">
            <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                <table class="jsgrid-table">
                 <tr class="jsgrid-header-row">
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">#</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Name</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Email</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Role</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">naissance</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">sex</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">telephone</th>
             
                    </tr>
                    <tbody>
                        <tr *ngFor="let patients of ListPatient ;let index=index" >
                          <td>{{index+1}}</td>
                          <td>{{patients.name}}</td>
                          <td>{{patients.email}}</td>
                          <td>{{patients.role}}</td>
                          <td>{{patients.naissance}}</td>
                          <td>{{patients.sex}}</td>
                          <td>{{patients.telephone}}</td>
                          


                    <td style="width: 10px"> <a class="btn btn-sm btn-danger" (click)="DeletePatient(patients._id)"  role="button">delete</a> </td>
                    <td style="width: 10px"> <a class="btn btn-sm btn-info"  [routerLink]="['/home/detailpatient',patients._id]" role="button">detail</a> </td>
                    <td style="width: 10px"> <a class="btn btn-sm btn-warning"  [routerLink]="['/home/editpatient',patients._id]" role="button">edit</a> </td>
                      </tbody>
                </table>
            </div>
        </div>
    </div>

    
    <!-- /.card-body -->
</div>