<form [formGroup]="formEdit" (ngSubmit)="UpdateMedicaments()" >
    <div class="product-payment-inner-st">
        <ul id="myTabedu1" class="tab-review-design">
            <li class="active"><a href="#description">Edit Medicament</a></li>
        </ul>
                                        <div class="form-group">
                                            <input formControlName="nom"    type="text" class="form-control" placeholder="Nom">
                                        </div>
                                        <div class="form-group">
                                            <input   formControlName="forme"  type="text" class="form-control" placeholder="Forme">
                                        </div>
                                        <div class="form-group">
                                        <input formControlName="prix"   type="text" class="form-control" placeholder="Prix">
                                        </div>
                                        <div class="form-group">
                                            <input formControlName="description"   type="text" class="form-control" placeholder="Description">
                                        </div>
                                        <div class="form-group">
                                            <input formControlName="ingredient"   type="text" class="form-control" placeholder="Ingredient">
                                        </div>
                                          
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="payment-adress">
                                        <button type="submit" class="btn btn-outline-dark" (click)="UpdateMedicaments()">Save</button> |
                                        <button type="reset" class="btn btn-outline-dark" (click)="onReset()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
    