<div class="card">
    <div class="card-header">
        <h3 class="card-title">Medecins</h3>
    </div>
    <!-- /.card-header -->
    <div class="table">
        <div id="jsGrid1" class="jsgrid" style="position: center; height: 100%; width: 100%;">
            <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                <table class="jsgrid-table">
                 <tr class="jsgrid-header-row">
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">#</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Name</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Email</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Role</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Specialité</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Diplome</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Localisation</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Tel_mobile</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Tel_fix</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Adresse</th>

                    </tr>
                    <tbody>
                        <tr *ngFor="let medecins of ListMedecin ;let index=index" >
                          <td>{{index+1}}</td>
                          <td>{{medecins.name}}</td>
                          <td>{{medecins.email}}</td>
                          <td>{{medecins.role}}</td>
                          <td>{{medecins.specialite}}</td>
                          <td>{{medecins.diplome}}</td>
                          <td>{{medecins.localisation}}</td>
                          <td>{{medecins.tel_mobile}}</td>
                          <td>{{medecins.tel_fix}}</td>
                          <td>{{medecins.adresse}}</td>


                    <td style="width: 10px"> <a class="btn btn-sm btn-danger" (click)="DeleteMedecin(medecins._id)"  role="button">delete</a> </td>
                    <td style="width: 10px"> <a class="btn btn-sm btn-info"  [routerLink]="['/home/detailmedecin',medecins._id]" role="button">detail</a> </td>
                    <td style="width: 10px"> <a class="btn btn-sm btn-warning"  [routerLink]="['/home/editmedecin',medecins._id]" role="button">edit</a> </td>
                      </tbody>
                </table>
            </div>
        </div>
    </div>

    
    <!-- /.card-body -->
</div>