<div class="card-body">
    <table class="table table-bordered">
      <thead>                  
        <tr>
          <th style="width: 100px">Name</th>
          <th style="width: 100px">Email</th>
          <th style="width: 100px">Role</th>
          <th>naissance</th>
          <th>sex</th>
          <th>telephone</th>
      



        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{DetailPatient.name}}</td>
          <td>{{DetailPatient.email}}</td>
          <td>{{DetailPatient.role}}</td>
          <td>{{DetailPatient.naissance}}</td>
          <td>{{DetailPatient.sex}}</td>
          <td>{{DetailPatient.telephone}}</td>
         



        </tr>
      </tbody>
    </table>
  </div>