  <!-- Start Left menu area -->
  <app-sidebar></app-sidebar>
  <!-- End Left menu area -->
  <!-- Start Welcome area -->
    <div class="content-wrapper">
      <app-header></app-header>
      <div class="content">
        <router-outlet></router-outlet>        
      </div>
        <app-footer></app-footer>
  </div>