<div class="card">
    <div class="card-header">
        <h3 class="card-title">Medicaments</h3>
    </div>
    <!-- /.card-header -->
    <div class="table">
        <div id="jsGrid1" class="jsgrid" style="position: center; height: 100%; width: 100%;">
            <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                <table class="jsgrid-table">
                 <tr class="jsgrid-header-row">
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">#</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Nom</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Localisation</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Adresse</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Type</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Telephone</th>
                    </tr>
                    <tbody>
                        <tr *ngFor="let pharmacies of ListPharmacie ;let index=index" >
                          <td>{{index+1}}</td>
                          <td>{{pharmacies.nom}}</td>
                          <td>{{pharmacies.localisation}}</td>
                          <td>{{pharmacies.adresse}}</td>
                          <td>{{pharmacies.type}}</td>
                          <td>{{pharmacies.telephone}}</td>


                    <td style="width: 10px"> <a class="btn btn-sm btn-danger"  (click)="DeletePharmacie(pharmacies._id)" role="button">delete</a> </td>
                    <td style="width: 10px"> <a class="btn btn-sm btn-info"  [routerLink]="['/home/detailpharmacie',pharmacies._id]" role="button">detail</a> </td>
                    <td style="width: 10px"> <a class="btn btn-sm btn-warning"  [routerLink]="['/home/editpharmacie',pharmacies._id]" role="button">edit</a> </td>
                      </tbody>
                </table>
            </div>
        </div>
    </div>

    
    <!-- /.card-body -->
</div>