<div class="card">
    <div class="card-header">
        <h3 class="card-title">Medicaments</h3>
    </div>
    <!-- /.card-header -->
    <div class="table">
        <div id="jsGrid1" class="jsgrid" style="position: center; height: 100%; width: 100%;">
            <div class="jsgrid-grid-header jsgrid-header-scrollbar">
                <table class="jsgrid-table">
                 <tr class="jsgrid-header-row">
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">#</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Nom</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Forme</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Prix</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Description</th>
                 <th class="jsgrid-header-cell jsgrid-header-sortable" style="width: 100px;">Ingredient</th>
                    </tr>
                    <tbody>
                        <tr *ngFor="let medicaments of listMedicament ;let index=index" >
                          <td>{{index+1}}</td>
                          <td>{{medicaments.nom}}</td>
                          <td>{{medicaments.forme}}</td>
                          <td>{{medicaments.prix}}</td>
                          <td>{{medicaments.description}}</td>
                          <td>{{medicaments.ingredient}}</td>


                    <td style="width: 10px"> <a class="btn btn-sm btn-danger" (click)="DeleteMedicament(medicaments._id)" role="button">delete</a> </td>
                    <td style="width: 10px"> <a class="btn btn-sm btn-info"  [routerLink]="['/home/detailmedicament',medicaments._id]" role="button">detail</a> </td>
                    <td style="width: 10px"> <a class="btn btn-sm btn-warning"  [routerLink]="['/home/editmedicament',medicaments._id]" role="button">edit</a> </td>
                      </tbody>
                </table>
            </div>
        </div>
    </div>

    
    <!-- /.card-body -->
</div>