<form [formGroup]="EditForm" (ngSubmit)="UpdateMedecin()" >
    <div class="product-payment-inner-st">
        <ul id="myTabedu1" class="tab-review-design">
            <li class="active"><a href="#description">Edit Medecin</a></li>
        </ul>
                                        <div class="form-group">
                                            <input formControlName="name"    type="text" class="form-control" placeholder="Name">
                                        </div>
                                        <div class="form-group">
                                            <input   formControlName="email"  type="text" class="form-control" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                        <input formControlName="role"   type="text" class="form-control" placeholder="Role">
                                        </div>
                                        <div class="form-group">
                                            <input formControlName="specialite"   type="text" class="form-control" placeholder="Specialite">
                                        </div>
                                        <div class="form-group">
                                            <input formControlName="diplome"   type="text" class="form-control" placeholder="Diplome">
                                        </div>
                                         <div class="form-group">
                                            <input formControlName="localisation"   type="text" class="form-control" placeholder="Localisation">
                                        </div>
                                        <div class="form-group">
                                            <input formControlName="tel_mobile"   type="text" class="form-control" placeholder="Tel_mobile">
                                        </div>
                                        <div class="form-group">
                                            <input formControlName="tel_fix"   type="text" class="form-control" placeholder="Tel_fix">
                                        </div>
                                        <div class="form-group">
                                            <input formControlName="adresse"   type="text" class="form-control" placeholder="Adresse">
                                        </div>
                                          
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="payment-adress">
                                        <button type="submit" class="btn btn-outline-dark" (click)="UpdateMedecin()">Save</button> |
                                        <button type="reset" class="btn btn-outline-dark" (click)="onReset()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
    