<div class="card-body">
    <table class="table table-bordered">
      <thead>                  
        <tr>
          <th style="width: 100px">Nom</th>
          <th style="width: 100px">Forme</th>
          <th style="width: 100px">Prix</th>
          <th>Description</th>
          <th>Ingredient</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{DetailMedicament.nom}}</td>
          <td>{{DetailMedicament.forme}}</td>
          <td>{{DetailMedicament.prix}}</td>
          <td>{{DetailMedicament.description}}</td>
          <td>{{DetailMedicament.ingredient}}</td>

        </tr>
      </tbody>
    </table>
  </div>