<div class="card-body">
    <table class="table table-bordered">
      <thead>                  
        <tr>
          <th style="width: 100px">Name</th>
          <th style="width: 100px">Email</th>
          <th style="width: 100px">Role</th>
          <th>Specialité</th>
          <th>Diplome</th>
          <th>Localisation</th>
          <th>Tel_mobile</th>
          <th>Tel_Fix</th>
          <th>Adresse</th>



        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{DetailMedecin.name}}</td>
          <td>{{DetailMedecin.email}}</td>
          <td>{{DetailMedecin.role}}</td>
          <td>{{DetailMedecin.specialite}}</td>
          <td>{{DetailMedecin.diplome}}</td>
          <td>{{DetailMedecin.localisation}}</td>
          <td>{{DetailMedecin.tel_mobile}}</td>
          <td>{{DetailMedecin.tel_fix}}</td>
          <td>{{DetailMedecin.adresse}}</td>



        </tr>
      </tbody>
    </table>
  </div>