<div class="card-body">
    <table class="table table-bordered">
      <thead>                  
        <tr>
          <th style="width: 100px">Nom</th>
          <th >Localisation</th>
          <th style="width: 100px">Adresse</th>
          <th style="width: 100px">Type</th>
          <th>Téléphone</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{DetailPharmacie.nom}}</td>
          <td>{{DetailPharmacie.localisation}}</td>
          <td>{{DetailPharmacie.adresse}}</td>
          <td>{{DetailPharmacie.type}}</td>
          <td>{{DetailPharmacie.telephone}}</td>

        </tr>
      </tbody>
    </table>
  </div>