<form [formGroup]="formEdit" (ngSubmit)="UpdatePharmacie()" >
    <div class="product-payment-inner-st">
        <ul id="myTabedu1" class="tab-review-design">
            <li  class="active"><a href="#description"><b>Edit Pharmacie</b> </a></li>
        </ul>
                                        <div class="form-group">
                                            <input formControlName="nom"    type="text" class="form-control" placeholder="Nom">
                                        </div>
                                        <div class="form-group">
                                            <input   formControlName="localisation"  type="text" class="form-control" placeholder="Localisation">
                                        </div>
                                        <div class="form-group">
                                        <input formControlName="adresse"   type="text" class="form-control" placeholder="Adresse">
                                        </div>
                                        <div class="form-group">
                                            <input formControlName="type"   type="text" class="form-control" placeholder="Type">
                                        </div>
                                        <div class="form-group">
                                            <input formControlName="telephone"   type="text" class="form-control" placeholder="Telephone">
                                        </div>
                                          
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="payment-adress">
                                        <button type="submit" class="btn btn-outline-dark" (click)="UpdatePharmacie()">Save</button> |
                                        <button type="reset" class="btn btn-outline-dark" (click)="onReset()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
    