<form [formGroup]="editform" (ngSubmit)="UpdatePatient()" >
    <div class="product-payment-inner-st">
        <ul id="myTabedu1" class="tab-review-design">
            <li class="active"><a href="#description">Edit Medecin</a></li>
        </ul>
                                        <div class="form-group">
                                            <input formControlName="name"    type="text" class="form-control" placeholder="Name">
                                        </div>
                                        <div class="form-group">
                                            <input   formControlName="email"  type="text" class="form-control" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                        <input formControlName="role"   type="text" class="form-control" placeholder="Role">
                                        </div>
                                        <div class="form-group">
                                            <input formControlName="naissance"   type="text" class="form-control" placeholder="Naissance">
                                        </div>
                                        <div class="form-group">
                                            <input formControlName="sex"   type="text" class="form-control" placeholder="Sex">
                                        </div>
                                         <div class="form-group">
                                            <input formControlName="telephone"   type="text" class="form-control" placeholder="Telephone">
                                        </div>
                                      
                                          
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="payment-adress">
                                        <button type="submit" class="btn btn-outline-dark" (click)="UpdatePatient()">Save</button> |
                                        <button type="reset" class="btn btn-outline-dark" (click)="onReset()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
    